*{
    margin: 0;
}
body {
    background-color: white;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgba(95, 214, 208, 0.3);
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);    
}
.header{
    display: flex;
    padding: 20px;
    background-color: rgb(140, 240, 235); ;
    margin: 0px 0px;
    border: 3px solid lightseagreen;
    border-top:none;
    border-right: none;
    border-left: none;

}

.avatar{
  border: 3px solid lightseagreen;
  border-radius: 30%;
  margin:0px;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}
.name{
   text-align: center;
   flex-grow: 1;
   padding: 40px;
   font-size: 48px;
   text-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.navigator{
    margin: 25px 0px;
}
.nav-item{
   display: block;
   color: lightseagreen; 
   text-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
   margin: 25px 15px;
}

.main{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
}

h2{
  border: 2px solid lightseagreen;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px 10px 15px 0px;
}

#contacts{
   margin: 10px 10px;
   padding: 20px 5px;
}

.Content{
   flex-grow: 1;
}
.footer-block{
    display: flex;
    height: 20%;
    background-color: rgba(37, 39, 41, 0.5);
    margin: 10px 0px;
    align-items: center;
    justify-content: space-between;
}

.footer-item{
    margin: 10px 10px;
}

.rs-image{
   width: 90px;
   height: 90%;
}
.github-icon{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.date{
    margin: 10px 10px;
}