body {
    background-color: white;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1024px;
    height: 100vh;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgba(95, 214, 208, 0.3);
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);    
}
.header{
    display: flex;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.avatar{
  border: 3px solid lightseagreen;
  border-radius: 30%;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}
.name{
   text-align: right;
   padding: 20px;
   font-size: 48px;
   text-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.nav-item{
   display: inline-block;
   text-decoration: none;
   color: lightseagreen; 
   text-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.nav-item:hover {
    text-decoration-line: underline;
    text-decoration: lightseagreen;
}
