*{
    margin: 0;
}
body {
    background-color: white;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgba(95, 214, 208, 0.3);
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);    
}
.header{
    display: flex;
    padding: 20px;
    background-color: rgb(140, 240, 235); ;
    margin: 0px 0px;
    border: 3px solid lightseagreen;
    border-top:none;
    border-right: none;
    border-left: none;

}

.avatar{
  border: 3px solid lightseagreen;
  border-radius: 30%;
  margin:0px;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}
.name{
   text-align: right;
   padding: 40px;
   font-size: 48px;
   text-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.nav-item{
   display: inline-block;
   text-decoration: none;
   color: lightseagreen; 
   text-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.nav-item:hover {
    text-decoration-line: underline;
    text-decoration: lightseagreen;
}

.main{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
}

h2{
  border: 2px solid lightseagreen;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px 10px 15px 0px;
}
.Contacts{
   margin: 25px 15px 25px 5px;
   padding: 25px 5px;
}

.Content{
   flex-grow: 1;
}
